<!DOCTYPE html>
<html>

    <head>
        <title>Comsquest4</title>
        
        <script src="//media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
        <script src="//media.twiliocdn.com/sdk/js/sync/v0.2/twilio-sync.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        
        <script src="js/Box2dWeb.min.js"></script>
        <script src="js/Three.js"></script>
        <script src="js/keyboard.js"></script>
        <script src="js/maze.js"></script>
        <script src="js/game.js"></script>

        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    
    <style>

    </style>
    
    <body id="desktop-body">
    
    <div id="desktop-instructions">
        How to play Astray:
        <br><br>
        Use the arrow keys to move the ball and find the exit to the maze.
        <br><br>
        Vim trainees: h, j, k, l
    </div>
    
    <div id="desktop-help">
        Hold down the 'I' key for instructions.
    </div>

    <div id="desktop-level">
        Level 1
    </div>
    
    </body>

</html>

