<!DOCTYPE html>
<html lang="en">
<head>
    <title>CommsQuest IV</title>
    <meta charset="utf-8">
    <script src="//media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
    <script src="//media.twiliocdn.com/sdk/js/sync/v0.2/twilio-sync.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/jquery.keyframes.min.js"></script>
    <script src="/js/Box2dWeb.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r68/three.min.js"></script>
    <script src="/js/maze.js"></script>
    <script src="/js/sync-helper.js"></script>
    <script src="/js/game.js"></script>
    <script src="/js/phoneNumberCheck.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
    
<body>
    
    <a href="http://bit.ly/2artpAu"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 5000;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
    
    
    <div id="main-menu">
        
        <div id="start-game">
            
            <div class="row">
                
                <img id="logo" src="/imgs/commsquest_title_large.gif" alt="CommsQuest IV"/>
                <% if (kiosk) { %>
                    <h2>KIOSK MODE!</h2>
                <% } else { %>

                <div>
                    <input id="txtPhoneNumber" type="number" pattern="^\d+$" placeholder="ENTER YOUR PHONE NUMBER" required/>
                    <div>
                        <button id="btnStart">SYNC PLAYER 1</button>
                    </div>
                </div>
                
            </div>
            <% } %>
            
        </div>
        
        <div class="footer">
            <p>Special thanks to <a target="_blank" href="https://github.com/wwwtyro">Rye Terrell</a> for creating <a target="_blank" href="https://github.com/wwwtyro/Astray">Astray</a> on which this game is based.</p>
        </div>
    
    </div>
    

    <div id="splash-screen">
        
        <div id="splash-screen-description">
            
            <div class="row">
                <h1>Call Number</h1>
                <h2>Level Name</h2>
                <p>Level Description</p>
            </div>
            
        </div>
        
        <div class="footer">
            <p>Powered by SYNC</p>
            <p>REAL-TIME STATE SYNCRONIZATION API</p>
            <p>©2016 TWILIO</p>
        </div>
        
    </div>
    
    
    <div id="desktop-level">
        CALL 1
    </div>
    
    
    <div id="desktop-level-name"></div>
    
</body>
</html>

