<!DOCTYPE html>
<html lang="en">
<head>
    <title>CommsQuest IV</title>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body id="controller">
    <div id="tips-container">
        <h2>To Begin Your Quest</h2>
        <h3>Open this site on a <strong>Desktop</strong> computer.</h3>
    </div>
</body>
</html>
