<!doctype html>
<html lang="en">
<head>
    <title>Game</title>
    <meta charset="utf-8">
    <script src="js/jquery.js"></script>
    <script src="js/maze.js"></script>
    <script src="js/gyro.js"></script>
    <script src="js/mobile.js"></script>    
</head>
    <div id="ball"></div>
<body>    
</body>
</html>