<!DOCTYPE html>
<html lang="en">
<head>
    <title>CommsQuest IV - Controller</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="//media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
    <script src="//media.twiliocdn.com/sdk/js/sync/v0.2/twilio-sync.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/gyro.js"></script>
    <script src="/js/sync-helper.js"></script>
    <script src="/js/simpleWebAudioPlayer.js"></script>    
    <script src="/js/mobile.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body class="flex">
        
    <div id="controller" class="rotate-landscape">
        

        <div id="tips">

            <div class="row controller-layout">
                
                <h1>TO BEING YOUR QUEST</h1>
                <ul>
                    <li>
                        <p class="mid-font white">1. Lock your phone's orientation to portrait.</p>
                    </li>
                    <li>
                        <p class="mid-font white">2. Hold your phone flat and parallel to the ground.</p>
                    </li>
                </ul>
                
            </div>
            
            <div class="footer">
                <button id="btnReady" class="button-pulse" onclick="startGame()">READY</button>
            </div>

        </div>
    
        <div id="controls-container">
            
            <div class="row controller-layout">
                <h2 id="score">CALLS CONNECTED 0</h2>
                <p id="time" class="large-font white">1:00</p>
                <p class="small-font white">TIME REMAINING TO CONNECT YOUR CALL</p>
                <button id="btnPause" class="button xmid-font darkblue" onclick="">(TAP TO PAUSE)</button>
            </div>
                
        </div>
                    
    </div>
    
    <script>
        var phoneNumber = '<%= phoneNumber %>';
    </script>
    
</body>
</html>