<!DOCTYPE html>
<html lang="en">
<head>
    <title>CommsQuest IV</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body class="flex">
    
    <div class="controller-layout">
        <h1>TO BEGIN YOUR QUEST</h1>
        <h2>Open this site on a <strong>Desktop</strong> computer.</h2>
    </div>
    
</body>
</html>