<!DOCTYPE html>
<html lang="en">
<head>
    <title>CommsQuest IV - Controller</title>
    <meta charset="utf-8">
    <script src="//media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
    <script src="//media.twiliocdn.com/sdk/js/sync/v0.2/twilio-sync.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/gyro.js"></script>
    <script src="/js/sync-helper.js"></script>
    <script src="/js/mobile.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body id="controller">
    <div id="tips-container">
        <h2>To Begin Your Quest</h2>
        <h3>1. Lock your phone's orientation to portrait.</h3>
        <i id="tip-lock-portrait"></i>
        <h3>2. Hold your phone flat and parallel to the ground.</h3>
        <i id="tip-flat-to-ground"></i>
        <br/>
        <h1>Start</h1>
    </div>
    
    <div id="controls-container">
        <div id="score">Score</div>
        <div id="time">Time</div>
        <div id="pause-button"></div>
    </div>

    <div id="game-over-container">
      <h2>Congratulations! You Have Completed Your Quest!</h2>
      <div id="game-over-container__buttons">
        <button class="game-over-container__button"><h3>Main Menu</h3></button>
        <button class="game-over-container__button"><h3><a href="https://www.twilio.com/blog/2016/07/sync.html">Learn About Twilio Sync</a></h3></button>
        <button class="game-over-container__button"><h3><a href="https://github.com/jonedavis/twilio-sync-labyrinth">View The Source</a></h3></button>
      </div>
    </div>

    <script>
        var phoneNumber = '<%= phoneNumber %>';
    </script>
</body>
</html>
