<!DOCTYPE html>
<html lang="en">
<head>
    <title>CommsQuest IV - Controller</title>
    <meta charset="utf-8">
    <script src="//media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
    <script src="//media.twiliocdn.com/sdk/js/sync/v0.2/twilio-sync.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/gyro.js"></script>
    <script src="/js/sync-helper.js"></script>
    <script src="/js/mobile.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body id="controller">
    <div id="portrait-container">
        <h2>To Begin Your Quest</h2>
        <h3>Hold your phone parallel to the ground and in landscape mode.</h3>
    </div>
    
    <div id="landscape-container">
        <div id="score">Score</div>
        <div id="time">Time</div>
    </div>
    
    <div id="pause-button"></div>

    <script>
        var phoneNumber = '<%= phoneNumber %>';
    </script>
</body>
</html>
