@font-face {
    font-family: "PressStart2P";
    src: url("/fonts/PressStart2P.ttf");
}

body {
    line-height: 2em; /* Space out PressStart2P font */
}

#controller {
    background-color: black;
    overflow: hidden;
    color: white;
    font-family: 'PressStart2P';
    text-align: center;
    font-size: 36px;
}

@media only screen and (orientation: portrait) {
    #landscape-container { display: none; }
    #portrait-container { display: block; }
    #controller {
        background-color: #F44336 !important; /* temp */
    }
}

@media only screen and (orientation: landscape) {
    #landscape-container { display: block; }
    #portrait-container { display: none; }
}

#desktop-body {
    background: black;
    margin: 0;
    padding: 0;
    font-family: 'PressStart2P';
    overflow: hidden;
}

#desktop-level {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 4px;
    color: yellow;
    font-weight: bold;
}

#start-game {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(/imgs/mainmenu.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#start-game div {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    text-align: center;
}

#txtPhoneNumber {
    width: 900px;
    font-family: 'PressStart2P';
    font-size: 36px;
}

#btnStart {
    font-family: 'PressStart2P';
    font-size: 36px;
}

#splash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(/imgs/mainmenu.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}