@font-face {
    font-family: "PressStart2P";
    src: url("/fonts/PressStart2P.ttf");
}

body {
  line-height: 1.8em; /* Space out PressStart2P font */
}

#controller {
    background-color: black;
    overflow: hidden;
    color: white;
    font-family: 'PressStart2P';
    text-align: center;
    font-size: 36px;
}

#controls-container { display: none; }

#tips-container { display: block; }

#game-over-container { display: none; }

#game-over-container__buttons {
    margin-top: 150px;
}

.game-over-container__button {
    background: rgba(255, 255, 255, 0.05);
    color: #fff;
    display: inline-block;
    padding: 12px 20px;
    border: 5px solid white;
    font-family: 'PressStart2P';
    font-size: 36px; 
    text-align: center;
    text-shadow: none;
    margin-bottom: 36px;
    min-width: 100%;
}

.game-over-container__button a {
    color: inherit;
    text-decoration: inherit;
}

#controller {
    background-color: #F44336 !important; /* temp */
}

#desktop-body {
    background: black;
    margin: 0;
    padding: 0;
    font-family: 'PressStart2P';
    overflow: hidden;
}

#desktop-level {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 4px;
    color: yellow;
    font-weight: bold;
}

i#tip-lock-portrait {
    display: block;    
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-image: url(/imgs/lock-portrait.png);
}

i#tip-flat-to-ground {
    display: block;    
    margin: 0 auto;
    width: 100px;
    height: 130px;
    background-image: url(/imgs/flat-to-ground.png);
}

#start-game {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(ellipse farthest-corner at 20% 20% , #828282 0%, rgba(0, 0, 255, 0) 75%, #000000 95%);
}

#start-game div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    text-align: center;
}

#start-game div img {
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#start-game div h2 {
    font-family: 'PressStart2P';
    font-size: 36px;
    color: white;
}

#start-game div h2.copyright {
    font-family: 'PressStart2P';
    font-size: 36px;
    color: #21A4C9;
}

#start-game div h3 {
    font-family: 'PressStart2P';
    color: white;
}

#txtPhoneNumber {
    width: 900px;
    font-family: 'PressStart2P';
    font-size: 36px;
}

#btnStart {
    font-family: 'PressStart2P';
    font-size: 36px;
}

#splash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(/imgs/mainmenu.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
