<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <title>CommsQuest IV - Controller</title>
    
    <script src="//media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
    <script src="//media.twiliocdn.com/sdk/js/sync/v0.2/twilio-sync.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    
    <script src="/js/libs/gyro.js"></script>
    <script src="/js/libs/simpleWebAudioPlayer.js"></script>    
    
    <script src="/js/sync.client.js"></script>
    <script src="/js/mobile.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    
    <div class="flex-container-full">
        
        <div id="controller-tips" class="center-text rotate-landscape">
            
            <h1 class="mid-font darkblue">TO BEING YOUR QUEST</h1>
            <p class="mid-font white">1. Lock your phone's orientation to portrait.</p>
            <p class="mid-font white">2. Hold your phone flat and parallel to the ground.</p>
            <button id="btnReady" class="button-pulse">READY</button>
            
        </div>
        
        <div id="controller-controls" class="hidden rotate-landscape center-text">

            <p id="score" class="small-font gray">CALLS CONNECTED 0</p>
            <p id="time" class="no-margin huge-font white">1:00</p>
            <p class="single-top-margin small-font gray">TIME REMAINING TO CONNECT</p>
            <button id="btnPause" class="button double-top-margin xmid-font lightblue">(TAP TO PAUSE)</button>

        </div>

    </div>

    <script>
        var phoneNumber = '<%= phoneNumber %>';
    </script>
    
</body>
</html>