<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <title>CommsQuest IV</title>
    
    <link rel="stylesheet" type="text/css" href="/css/styles.min.css">
    
    <style>
        html, body { height: 100%; }
    </style>
</head>
<body>
    
    <div id="mobile-index">
        
        <p class="mid-font darkblue">TO BEGIN YOUR QUEST</p>
        <p class="white">Open this site on a <strong class="lightblue">desktop</strong> computer.</p>
        
    </div>
    
</body>
</html>