<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>CommsQuest IV</title>
    
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    
    <div class="flex-container-full">
        
        <h1 class="mid-font darkblue">TO BEGIN YOUR QUEST</h1>
        <h2 class="white">Open this site on a <strong class="lightblue">desktop</strong> computer.</h2>
        
    </div>
    
</body>
</html>